@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

// Make sure SMUI's import happens first, since it specifies variables.
@use '@smui/snackbar/style' as smui-snackabar;
// See https://github.com/material-components/material-components-web/tree/v14.0.0/packages/mdc-snackbar
@use '@material/snackbar/mixins' as snackbar;
// See https://github.com/material-components/material-components-web/tree/v14.0.0/packages/mdc-theme
@use '@material/theme/theme-color';
 
.mdc-snackbar.demo-success {
  @include snackbar.fill-color(color-palette.$green-500);
  @include snackbar.label-ink-color(
    theme-color.accessible-ink-color(color-palette.$green-500)
  );
}
 
.mdc-snackbar.demo-warning {
  @include snackbar.fill-color(color-palette.$orange-500);
  @include snackbar.label-ink-color(
    theme-color.accessible-ink-color(color-palette.$orange-500)
  );
}
 
.mdc-snackbar.demo-error {
  @include snackbar.fill-color(color-palette.$red-500);
  @include snackbar.label-ink-color(
    theme-color.accessible-ink-color(color-palette.$red-500)
  );
}

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
