:root {
    --black-hex: #1a1a1a;
    --black-rgb: 26, 26, 26;
    --white-hex: #ccc;
    --white-rgb: 204, 204, 204;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 78.125%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--black-hex);
}

body {
    font-size: 1.6rem;
}

button,
.button {
    all: unset;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background-color: var(--white-hex);
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--black-hex);
    display: inline-block;
}

button:hover,
.button:hover {
    cursor: pointer;
}

button.inverted,
.button.inverted {
    border-color: var(--white-hex);
    background-color: var(--black-hex);
    color: var(--white-hex);
}

input,
.input-like {
    all: unset;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-bottom-color: var(--white-hex);
    border-radius: 0.5rem;
    background-color: rgba(var(--white-rgb), 0.1);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--white-hex);
    transition: background-color 0.2s ease-in-out;
}

input::placeholder {
    color: var(--white-hex);
}

input:disabled {
    opacity: 0.6;
    pointer-events: none;
}

input:hover,
input:focus,
input:focus-within {
    background-color: rgba(var(--white-rgb), 0.2);
}
